[user]
	name = Ben Paddock
	email = pads@thisispads.me.uk	
	
[alias]
	st = status
	aa = add -all
	ci = commit
	ca = commit -a
	cam = commit -a -m
	rcam = commit -a --amend -m
	rca = commit -a --amend
	alc = commit --amend
	co = checkout
	pb = checkout -
	cb = checkout -b
	dlb = branch -d
	db = branch -D
	lb = branch --list
	lba = branch -a
	tb = branch --set-upstream
	rb = branch -m
	pcb = rev-parse --abbrev-ref HEAD
	lt = tag -l
	ct = tag -a
	pt = push --tags
	drb = push origin --delete
	fom = fetch origin main
	po = push origin
	pom = push origin main
	pall = push all --all
	pu = push upstream
	pum = pull origin master
	prum = pull upstream main
	p = pull
	rim = rebase -i origin/main
	rc = rebase --continue
	ra = rebase --abort
	rs = rebase --skip
	fu = fetch upstream
	mum = merge upstream/main
	srh = reset --soft HEAD^
	hr = reset --hard
	df = diff
	ls = ls-files
	startover = checkout -f
	unstage = reset HEAD --
	ptb = push --set-upstream origin
	ifc = update-index --assume-unchanged
	ld = log --
	graph = log --oneline --abbrev-commit --all --graph --decorate --color
	files = show --pretty="format:" --name-only
	lmb = branch --merged
	sm = merge --no-commit --no-ff
	am = merge --abort
	bs = bisect start
	bb = bisect bad
	bg = bisect good
	ow = checkout HEAD@{1.week.ago}
	od = checkout HEAD@{1.day.ago}
[color]
	ui = "true"
		
[color "status"]
	added = magenta bold
	changed = yellow bold
	untracked = red bold
	
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = white bold
  
[color "branch"]
  current = green bold reverse
  local = green 
  remote = cyan	

[merge]
	stat = true
		
[core]
	excludesfile = /Users/bp/.gitignore_global
	whitespace = trailing-space,space-before-tab
	editor = vim
	autocrlf = input
[branch]
	autosetuprebase = always
	sort = -committerdate
[pull]
	rebase = true
[push]
	default = current
	autosetupremote = true
	followTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com/"]
  	insteadOf = https://github.com/	
[rebase]
	autosquash = true
	autostash = true
	updateRefs = true
[commit]
	gpgsign = true
[column]
	ui = auto
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[rerere]
	enabled = true
	autoupdate = true
